h2 {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 30px;
}

/* Style the container div */
.db{
  margin: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(34, 197, 36, 0.84);
  display: flex;
  justify-content: space-evenly;
}

/* Style the buttons */
button {
  background-color: #0f4d0c; /* Bootstrap primary color (blue) */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px; /* Add some spacing between buttons */
}

/* Hover effect for the buttons */
button:hover {
  background-color: #3aa629; /* Darker blue on hover */
}
