<div class="bdy">
<h2>ONLINE EVENT BOOKING SYSTEM</h2>
<div class="container">
<div class="user">
<h2>USERS</h2>
<button class = "btn btn-primary" type ="button" [routerLink]="['/login']">LOGIN</button>
<button class = "btn btn-primary" type ="button" [routerLink]="['/register']">REGISTER</button>
</div>
<div class="organiser">
<h2>ORGANISERS</h2>
<button class = "btn btn-primary" type ="button" [routerLink]="['/organisers-login']">LOGIN</button>
<button class = "btn btn-primary" type ="button" [routerLink]="['/organisers-register']">REGISTER</button>
</div>
</div>
</div>


