<div class="heading">SIGN IN</div>
<section class="block">
    <form class="login-block">
        <div class="form-group">
          <label for="UserName" class="form-label">Username</label>
            <input type="text" id="userName" class="form-control" placeholder="Email ID is your username"  [(ngModel)] = "model.emailId" name = "emailId"/>
        </div><br>
          <div class="form-group">
            <label for="Password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" required placeholder="Enter password" [(ngModel)] = "model.password" name = "password">
          </div>
        <div class="form-group">
            <button (click)="loginUser()" type="submit"  class="btn btn-primary">sign in</button></div>
        <div>
          <a  [routerLink]="['/organisers-register']">New user? Register</a>
    </div>
    </form>
</section>
