/* Style the table */
table {
  width: 80%;
  border-collapse: collapse;
  border-spacing: 0;
 margin: auto;
}

/* Style the table header */
thead {
  background-color: rgb(10, 100, 10); /* Green background color for the header */
  color: white; /* White text color for the header */
}

thead th {
  padding: 10px;
  text-align: left;
}

/* Style the table body */
tbody tr:nth-child(even) {
  background-color: #043b10; 
  color: white;/* Light gray background for even rows */
}

tbody td {
  padding: 10px;
  text-align: left;
}

/* Style the table borders */
table, th, td {
  border: 1px solid #ddd;
}

/* Add some spacing between table cells */
th, td {
  padding: 10px;
}

/* Hover effect for table rows */
tbody tr:hover {
  background-color: rgb(99, 135, 99); /* Light green background on hover */
}
