/* Profile Container Styles */
.profile {
  background-color: #0b4009; /* Dark background color */
  color: white; /* Green text color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(76, 175, 80, 0.3); /* Green shadow */
  text-align: left;
  margin: 20px auto;
  margin-top: 10%;
  max-width: 400px;
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for transform and box-shadow */
}

/* Label Styles */
.profile label {
  font-weight: bold;
  font-size: 18px; /* Label font size */
}

/* Individual Info Styles */
.profile div {
  margin-bottom: 15px; /* Increased spacing between info sections */
  font-size: 16px; /* Info text font size */
}

/* Hover effect for profile container */
.profile:hover {
  transform: scale(1.05); /* Slight scale-up on hover */
  box-shadow: 0px 0px 30px rgba(76, 175, 80, 0.5); /* Green shadow on hover */
}
